Question 1

In [2]:
import pandas as pd

In [3]:
new_series = pd.Series([4, 8, 15, 16, 23, 42])

In [4]:
print(new_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Question 2

In [5]:
lst =[1,23,3,34,65,21,67,87,98,123]

In [6]:
pd_lst=pd.Series(lst)

In [7]:
print(pd_lst)

0      1
1     23
2      3
3     34
4     65
5     21
6     67
7     87
8     98
9    123
dtype: int64

Question 3

In [8]:
df = {"Name" : ["Alice", "Bob", "Claire"], "Age" : [25,30,27], "Gender" : ["Female", "Male", "Female"]}

In [9]:
new_pdf_df = pd.DataFrame(df)

In [10]:
new_pdf_df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [11]:
type(new_pdf_df)

pandas.core.frame.DataFrame

Question 4

DataFrame is a collection of multiple rows and colums whose size can be changed and where as series is single list or one dimension . For example : if we see "Question 3" in which if we choose to print one column then the result will be a series or if we print more than one column data then it will be a data frame .

Question 5

Some common function are : 

head() : to get the top 5 data as a default ,
tail() : to get last 5 data as a default  ,
count() : to count the number of data available in dataframe  , 
columns : to print column name/names

Question 6

DataFrame and Panel is mutable in nature

Question 7

In [15]:

name = pd.Series(["Alice", "Bob", "Claire"])
age = pd.Series([25,30,27])
gender = pd.Series(["Female","Male","Female"])

In [25]:
pd_concat = pd.concat([name,age,gender],axis=1,)

In [26]:
pd_concat

        0   1       2
0   Alice  25  Female
1     Bob  30    Male
2  Claire  27  Female